    .TorreDeHanoi{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 450px;
        width: 800px;
        background: rgb(29, 29, 139);
        position: relative;
    }
    .torre {
        position: relative;
        
    }

    .torre::after{
        display: block;
        content: " ";
        position: absolute;
        width: 30px;
        height: 300px;
        bottom: 0;
        left: 80px;
        background: chocolate;
        border-radius: 10px 10px 0 0 ;

    }
    .disco{
        z-index: 2;
        margin-top: 35%;
    }
   

    
    h1 {
        display: flex;
        background-color: red;
        width: 80px;
        height: 30px;
        justify-content: center;
        padding-bottom: 12%;
        border-radius: 20px;
        margin-left: 20%;
        

    }
    h2{
        display: flex;
        background-color: rgb(47, 0, 255);
        width: 120px;
        height: 30px;
        justify-content: center;
        padding-bottom: 12%;
        border-radius: 20px;
        margin-left: 13%;
    }
    h3 {
        display: flex;
        background-color: rgb(12, 11, 11);
        color: white;
        width: 140px;
        height: 30px;
        justify-content: center;
        padding-bottom: 12%;
        border-radius: 20px;
        margin-left: 9%;
    
    }
    h4{
        display: flex;
        background-color: rgb(21, 255, 0);
        width: 180px;
        height: 30px;
        justify-content: center;
        padding-bottom: 12%;
        border-radius: 20px;
        margin-left: 2%;
       
    }
    
    
    
    
    

  
 


    
